.colorBlue {
  color: #39c922 !important;
}

.colorRed {
  color: #ea1f38 !important;
}

.stable {
  position: fixed;
  top: 2.46667rem;
  left: 0.4rem;
  z-index: 1000;
}

.index .textArea {
  width: 1.33333rem;
}

header h3 {
  width: 80%;
  font-size: 0.37333rem;
  line-height: 0.53333rem;
  position: absolute;
  left: 1.06667rem;
  top: 0.13333rem;
}

.showAll > div.all {
  display: none;
}

.showAll > div.all.active {
  display: block;
}

.themeInvest {
  font-family: pinfangMedium;
}

.themeInvest .headMenu {
  font-size: 0.37333rem;
  padding: 0.53333rem 0.4rem 0.13333rem;
  color: #666;
}

.themeInvest .headMenu .col {
  width: 50%;
}

.themeInvest .headMenu .col.active {
  color: #ea1f38;
  font-size: 0.42667rem;
}

.themeInvest .headMenu .col:nth-child(2) span {
  text-align: center;
  width: 48%;
  display: inline-block;
}

.themeInvest .headMenu span.active {
  width: 2.13333rem;
  height: 0.93333rem;
  line-height: 0.93333rem;
  text-align: center;
  border-radius: 0.46667rem;
  font-size: 0.37333rem;
  color: #fff;
  background-color: #d3c090;
}

.themeInvest .titleCol {
  line-height: 1.2rem;
  font-size: 0.29333rem;
  margin: 0 0.4rem;
  border-bottom: 0.02667rem solid #dedede;
}

.themeInvest .titleCol span {
  float: left;
  width: 22%;
  text-align: left;
  position: relative;
  font-size: 0.34667rem;
}

.themeInvest .titleCol span:nth-child(1) {
  width: 34%;
  font-size: 0.42667rem;
}

.themeInvest .titleCol .liftBtn::before, .themeInvest .titleCol .liftBtn::after {
  right: 0;
}

.themeInvest .titleCol .liftBtn::before {
  top: 0.46667rem;
}

.themeInvest .titleCol .liftBtn::after {
  top: 0.6rem;
}

.themeInvest .titleCol span:nth-child(2)::before, .themeInvest .titleCol span:nth-child(2)::after, .themeInvest .titleCol span:nth-child(3)::before, .themeInvest .titleCol span:nth-child(3)::after {
  right: 0.13333rem;
}

.themeInvest .titleCol b {
  font-size: 0.29333rem;
}

.themeInvest .capitalFlow {
  display: none;
}

.themeInvest .capitalFlow ul {
  min-height: 6rem;
}

.themeInvest .capitalFlow .noData {
  width: 1.73333rem;
  height: 1.86667rem;
  margin: 0 auto;
  margin-top: 0.8rem;
  background-image: url("../image/noData.png");
  background-size: 100%;
  display: none;
}

.themeInvest .capitalFlow li {
  line-height: 1.2rem;
  padding: 0 0.4rem;
  font-size: 0.37333rem;
}

.themeInvest .capitalFlow li span {
  width: 20%;
  float: left;
  text-align: center;
  font-family: 'Arial';
  font-weight: 600;
}

.themeInvest .capitalFlow li span:nth-child(1) {
  width: 34%;
  text-align: left;
  margin-right: 0;
  font-family: 'pinfangMedium';
  font-weight: normal;
}

.themeInvest .capitalFlow li span:nth-child(2), .themeInvest .capitalFlow li span:nth-child(3) {
  text-align: center;
  margin-right: 0.13333rem;
}

.themeInvest .capitalFlow.active {
  display: block;
}

.themeInvest .topTheme li .themeShow {
  width: 76%;
}

.themeInvest .topTheme li .themeShow span:nth-child(1) {
  width: 44%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.themeInvest .topTheme li .themeShow span:nth-child(2) {
  width: 30%;
}

.themeInvest .topTheme li .themeShow span:nth-child(3) {
  width: 25%;
}

.themeInvest .topTheme li span.stockname {
  width: 24%;
  text-align: center;
}

.themeInvest .dayTheme {
  border-top: 0.26667rem solid #eee;
}

.topTheme .titleCol span:nth-child(4) {
  text-align: center;
}

.topTheme .fourItem {
  padding: 0 0.4rem;
}

.topTheme .fourItem li {
  padding: 0;
}

.theme {
  border: none;
}

.theme .titleCol {
  width: 9.2rem;
  height: 1.2rem;
  line-height: 1.2rem;
  font-size: 0.42667rem;
  box-shadow: 0 0.05333rem 0.13333rem rgba(81, 71, 72, 0.28);
  color: #999;
  background-color: #fff;
  border-radius: 0.10667rem;
  margin-top: -0.8rem;
}

.theme .titleCol span {
  width: 50%;
  float: left;
  text-align: center;
}

.theme .titleCol span.active {
  color: #d0bc89;
}

.moreHead {
  height: 2.24rem;
  background-color: #ea1f38;
}

.moreHeader .search-btn {
  top: 0.29333rem;
  right: 0.4rem;
  width: 0.58667rem;
  height: 0.58667rem;
  position: absolute;
  background-size: cover;
  background-position: center;
  background-image: url(../image/icon_search.png);
}

.moreHeader .calendar-btn {
  width: 0.49333rem;
  height: 0.56rem;
  background-image: url(../image/calendar.png);
  background-size: 100%;
  top: 0.29333rem;
  right: 0.4rem;
  position: absolute;
}

.moreHeader .attentionIcon {
  width: 1.13333rem;
  height: 1.13333rem;
  position: absolute;
  background-image: url("../image/theme_attention_no.png");
  background-size: cover;
  left: 50%;
  margin-left: -0.53333rem;
  bottom: -1.09333rem;
}

.moreHeader .attentionIcon.active {
  background-image: url("../image/theme_attention_ok.png");
  background-size: cover;
}

.moreThemeRankings {
  padding-top: 0;
}

.moreThemeRankings .rise {
  display: block;
}

.moreThemeRankings .rise .haveTop .follow {
  padding-top: 0.26667rem;
}

.moreThemeRankings .rise .follow i {
  width: 0.69333rem;
  height: 0.69333rem;
  display: inline-block;
  background-image: url("../image/icon_follow_ok.png");
  background-size: 100%;
}

.moreThemeRankings .rise .follow i.on {
  background-image: url("../image/icon_follow_no.png");
  background-size: 100%;
}

.moreThemeRankingSearch .theme .titleColSeach span {
  width: 33.3%;
}

.moreThemeRankingSearch .historyAndHot {
  display: none;
  padding: 0 0.4rem;
  font-family: pinfangMedium;
  color: #333;
}

.moreThemeRankingSearch .historyAndHot .title {
  line-height: 1.46667rem;
  font-size: 0.42667rem;
  position: relative;
}

.moreThemeRankingSearch .historyAndHot .title i {
  width: 0.42667rem;
  height: 0.42667rem;
  background-image: url("../image/del.png");
  background-size: 100%;
  position: absolute;
  top: 0.53333rem;
  right: 0;
}

.moreThemeRankingSearch .historyAndHot .searchCont span {
  line-height: 0.8rem;
  border-radius: 0.4rem;
  background-color: #eaeaea;
  padding: 0 0.26667rem;
  margin-right: 0.26667rem;
  font-size: 0.37333rem;
}

.moreThemeRankingSearch .historyAndHot .searchCont span i {
  width: 0.37333rem;
  height: 0.37333rem;
  background-image: url("../image/smIcon.png");
  background-size: 100%;
  display: inline-block;
}

.moreThemeRankingSearch .inputSearchList {
  padding: 0 0.4rem;
  font-size: 0.42667rem;
}

.moreThemeRankingSearch .inputSearchList .rise {
  display: block;
}

.moreThemeRankingSearch .inputSearchList .rise li {
  padding: 0;
  line-height: 1.2rem;
  border: none;
}

.moreThemeRankingSearch .inputSearchList .rise li .stock i {
  width: 0.37333rem;
  height: 0.37333rem;
  background: url("../image/smIcon.png");
  background-size: 100%;
  display: inline-block;
}

.moreThemeRankingSearch .themeClassification {
  font-size: 0.37333rem;
}

.moreThemeRankingSearch .themeClassification h4 {
  font-size: 0.48rem;
  color: #ea1f38;
  line-height: 0.8rem;
}

.moreThemeRankingSearch .themeClassification span {
  margin-right: 0.61333rem;
  line-height: 0.66667rem;
  display: inline;
}

.noDataAll {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -0.8rem;
  width: 1.73333rem;
  height: 1.86667rem;
  background-image: url("../image/noData.png");
  background-size: 100%;
  display: none;
}

.inputContent {
  top: -0.13333rem;
}

.stockAttention {
  width: 0.6rem;
  height: 0.6rem;
  background-image: url("../image/stockAttention_no.png");
  background-size: 100%;
  position: absolute;
  top: 0.29333rem;
  right: 0.4rem;
}

.stockAttention.active {
  background-image: url("../image/stockAttention_ok.png");
  background-size: 100%;
}

.them-txt-box {
  position: relative;
  background: url("../image/themeBg.png") center center no-repeat;
  background-size: cover;
  margin: 0 0.4rem;
  padding: 1.2rem 0.53333rem 0.93333rem;
  border-radius: 0.26667rem;
}

.them-txt-box p {
  color: #fff;
  text-indent: 0.64rem;
  font-size: 0.37333rem;
  line-height: 1.6;
  text-align: justify;
}

.them-txt-box span {
  width: 2.93333rem;
  height: 0.8rem;
  line-height: 0.8rem;
  text-align: center;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -1.46667rem;
  border-radius: 0 0 0.13333rem 0.13333rem;
  text-indent: 0;
  font-size: 0.32rem;
  color: #fff;
}

.them-txt-box .down {
  background-color: #39c922;
}

.them-txt-box .up {
  background-color: #ea1f38;
}

.them-txt-box .attentionIcon {
  position: absolute;
  left: 50%;
  margin-left: -0.53333rem;
  bottom: -0.52rem;
  text-indent: 0;
}

.them-txt-box .attentionIcon i {
  width: 1.09333rem;
  height: 1.09333rem;
  background-image: url("../image/theme_attention_no.png");
  background-size: 100%;
  display: inline-block;
}

.them-txt-box .attentionIcon i.on {
  background-image: url("../image/theme_attention_ok.png");
  background-size: 100%;
}

.themeDetails {
  margin-top: -0.93333rem;
  padding-bottom: 0.4rem;
  padding-top: 0;
}

.themeDetails .topTheme {
  padding: 0 0.8rem;
  background: url("../image/themeBg.png") center center no-repeat;
  background-size: 100%;
  position: relative;
  border-radius: 0.21333rem;
  color: #fff;
  margin: 0 0.4rem;
}

.themeDetails .topTheme .themeDescribe {
  padding-top: 1.06667rem;
  padding-bottom: 0.8rem;
  font-size: 0.37333rem;
  line-height: 0.48rem;
  text-indent: 0.73333rem;
}

.themeDetails .theme {
  margin-top: 1.4rem;
  border: none;
}

.themeDetails .relatedStocks {
  display: none;
  padding: 0 0.4rem;
  font-size: 0.32rem;
}

.themeDetails .relatedStocks .relatedStocksTitle {
  line-height: 1.46667rem;
  font-size: 0.42667rem;
}

.themeDetails .relatedStocks .relatedStocksList li {
  background-color: #fff;
  border-radius: 0.13333rem;
  padding: 0.33333rem;
  margin-bottom: 0.4rem;
  box-shadow: 0 0.05333rem 0.13333rem rgba(81, 71, 72, 0.28);
}

.themeDetails .relatedStocks .relatedStocksList li .stockName .name {
  font-size: 0.37333rem;
  font-weight: bold;
}

.themeDetails .relatedStocks .relatedStocksList li .stockName .code {
  font-size: 0.29333rem;
  color: #afafaf;
}

.themeDetails .relatedStocks .relatedStocksList li .stockName .rPart {
  font-size: 0.34667rem;
  line-height: 0.8rem;
}

.themeDetails .relatedStocks .relatedStocksList li .stockName .rPart span {
  padding-right: 0.2rem;
}

.themeDetails .relatedStocks .relatedStocksList li .stockName .rPart span:last-child {
  padding: 0;
  font-size: 0.37333rem;
}

.themeDetails .relatedStocks .relatedStocksList li .stockCont {
  color: #a8a8a8;
  font-size: 0.37333rem;
  padding: 0.4rem 0;
  line-height: 0.4rem;
}

.themeDetails .relatedStocks .relatedStocksList li .stockCont .showCont {
  min-height: 0.26667rem;
  line-height: 0.53333rem;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.themeDetails .relatedStocks .relatedStocksList li .stockCont .hiddenCont {
  display: none;
}

.themeDetails .relatedStocks .relatedStocksList li .relatedTopics h4 {
  line-height: 0.8rem;
  font-size: 0.32rem;
}

.themeDetails .relatedStocks .relatedStocksList li .relatedTopics span {
  font-size: 0.37333rem;
  color: #ea1f38;
  padding-right: 0.4rem;
  display: inline;
  line-height: 0.61333rem;
}

.themeDetails .relatedStocks .relatedStocksList li .noTopics {
  font-size: 0.32rem;
  display: none;
}

.themeDetails .topicDescription {
  padding: 0 0.13333rem;
}

.themeDetails .topicDescription .firstCharts .chartsContainer {
  width: 100%;
  height: 4.13333rem;
}

.themeDetails .topicDescription .firstCharts .title {
  padding: 0.66667rem 0;
  display: -webkit-flex;
}

.themeDetails .topicDescription .firstCharts .title p {
  float: left;
  width: 100%;
  position: relative;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  -webkit-box-flex: 1;
}

.themeDetails .topicDescription .firstCharts .title p .bigNum {
  font-size: 0.66667rem;
}

.themeDetails .topicDescription .firstCharts .title p .smNum {
  font-size: 0.32rem;
}

.themeDetails .topicDescription .firstCharts .title p:nth-child(1) {
  width: 200%;
}

.themeDetails .topicDescription .firstCharts .title p:nth-child(2) {
  margin-left: 0.53333rem;
}

.themeDetails .topicDescription .firstCharts .title p.spe {
  padding-top: 0.26667rem;
}

.themeDetails .topicDescription .firstCharts .title p.spe span:nth-child(1) {
  color: #999;
  font-size: 0.29333rem;
}

.themeDetails .topicDescription .firstCharts .title p.spe span:nth-of-type(2) {
  font-size: 0.37333rem;
}

.themeDetails .topicDescription .firstCharts .title p.spe p.spe:last-child {
  padding-right: 0;
}

.themeDetails .topicDescription .firstCharts .noData {
  width: 1.73333rem;
  height: 1.86667rem;
  margin: 0 auto;
  margin-top: 0.8rem;
  background-image: url("../image/noData.png");
  background-size: 100%;
  display: none;
}

.themeDetails .topicDescription .secondCharts {
  margin-top: 0.2rem;
}

.themeDetails .topicDescription .secondCharts p {
  font-size: 0.34667rem;
  padding: 0 0.4rem;
}

.themeDetails .topicDescription .secondCharts .second-title {
  font-size: 0.42667rem;
}

.themeDetails .topicDescription .secondCharts .second-title span {
  font-size: 0.34667rem;
  float: right;
}

.themeDetails .topicDescription .secondCharts .second-color {
  width: 4.8rem;
  margin: 0 auto;
  display: -webkit-box;
  -webkit-box-sizing: border-box;
}

.themeDetails .topicDescription .secondCharts .second-color span {
  -webkit-box-flex: 1;
  width: 100%;
  text-align: center;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  position: relative;
}

.themeDetails .topicDescription .secondCharts .second-color span:before {
  content: "";
  width: 0.21333rem;
  height: 0.21333rem;
  background-color: #d8361b;
  position: absolute;
  left: 0.13333rem;
  top: 50%;
  margin-top: -0.10667rem;
  border-radius: 50%;
}

.themeDetails .topicDescription .secondCharts .second-color span:nth-child(2):before {
  background-color: #1cbf7b;
}

.themeDetails .topicDescription .secondCharts .chartsContainer {
  width: 100%;
  height: 6rem;
}

.themeDetails .topicDescription .secondCharts .chartTips {
  width: 5.86667rem;
  padding: 0.4rem 0 0.4rem 0.93333rem;
  margin: 0 auto;
  box-shadow: 0 0.05333rem 0.13333rem rgba(81, 71, 72, 0.28);
  border-radius: 0.06667rem;
}

.themeDetails .topicDescription .secondCharts .chartTips span {
  width: 50%;
  float: left;
  text-align: left;
}

.themeDetails .topicDescription .secondCharts .chartTips span i {
  width: 0.25333rem;
  height: 0.25333rem;
  display: inline-block;
  border-radius: 50%;
}

.themeDetails .topicDescription .secondCharts .chartTips span:nth-child(1) {
  margin-bottom: 0.26667rem;
}

.themeDetails .topicDescription .secondCharts .chartTips span:nth-child(1) i {
  background-color: #ec584c;
  box-shadow: 0px 0px 0.02667rem 0.05333rem #fad3d0;
}

.themeDetails .topicDescription .secondCharts .chartTips span:nth-child(2) {
  margin-bottom: 0.26667rem;
}

.themeDetails .topicDescription .secondCharts .chartTips span:nth-child(2) i {
  background-color: #1a57e3;
  box-shadow: 0px 0px 0.02667rem 0.05333rem #baccf7;
}

.themeDetails .topicDescription .secondCharts .chartTips span:nth-child(3) i {
  background-color: #ffe400;
  box-shadow: 0px 0px 0.02667rem 0.05333rem #fff7b2;
}

.themeDetails .topicDescription .secondCharts .chartTips span:nth-child(4) i {
  background-color: #4bb0f5;
  box-shadow: 0px 0px 0.02667rem 0.05333rem #c9e7fc;
}

.themeDetails .relatedEvents .title {
  line-height: 1.33333rem;
  font-size: 0.42667rem;
}

.themeDetails .relatedEvents .sliderContainer {
  width: 9.6rem;
  height: 1.86667rem;
  position: relative;
  overflow: hidden;
  margin-left: 0.13333rem;
}

.themeDetails .relatedEvents ul {
  position: relative;
}

.themeDetails .relatedEvents li {
  width: 2.93333rem !important;
  height: 1.86667rem;
  margin-right: 0.26667rem;
  position: relative;
  float: left;
  border-radius: 0.08rem;
}

.themeDetails .relatedEvents li img {
  width: 2.93333rem;
  height: 1.86667rem;
  position: absolute;
  left: 0;
  top: 0;
}

.themeDetails .relatedEvents li .shadow {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #000;
  border-radius: 0.08rem;
  opacity: 0.4;
  top: 0;
  left: 0;
  z-index: 10;
}

.themeDetails .relatedEvents li p {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 11;
  color: #fff;
  text-align: center;
  line-height: 0.45333rem;
  padding: 0.53333rem 0.26667rem;
}

.themeDetails .relatedEvents li:last-child {
  margin-right: 0;
}

.example {
  position: fixed;
  right: 0.66667rem;
  bottom: 1.33333rem;
  width: 1.30667rem;
  height: 1.30667rem;
  background: url(../image/share_btn.png) no-repeat center;
  background-size: 100%;
  color: #fff;
  border-radius: 50%;
}

.themeHead {
  background-color: #ea1f38;
  height: 2.66667rem;
}

.themeHeader .stockCol {
  line-height: 0.53333rem;
}

.themeHeader .stockCol .stockName {
  font-size: 0.42667rem;
}

.themeHeader .stockCol .stockCode {
  font-size: 0.29333rem;
  margin-top: -0.13333rem;
}

.goBillboard {
  width: 1.36rem;
  height: 0.69333rem;
  background-image: url("../image/icon-long1.png");
  background-size: 100%;
  top: 0.29333rem;
  right: 0.4rem;
  position: absolute;
}

.stockDetailsTitle {
  line-height: 1.2rem;
  box-shadow: 0 0.05333rem 0.13333rem rgba(81, 71, 72, 0.28);
  font-size: 0.32rem;
}

.stockDetailsTitle .col {
  float: left;
  position: relative;
  text-align: center;
}

.stockDetailsTitle .col .up-btn {
  width: 0;
  height: 0;
  border-left: 0.13333rem solid transparent;
  border-right: 0.13333rem solid transparent;
  border-bottom: 0.10667rem solid #dedede;
  position: absolute;
  right: 0;
  top: 0.46667rem;
  -display: none;
}

.stockDetailsTitle .col .down-btn {
  width: 0;
  height: 0;
  border-left: 0.13333rem solid transparent;
  border-right: 0.13333rem solid transparent;
  border-top: 0.10667rem solid #dedede;
  position: absolute;
  right: 0;
  bottom: 0.46667rem;
  -display: none;
}

.stockDetailsTitle .col .up-btn.active {
  border-bottom: 0.10667rem solid #ea1f38;
}

.stockDetailsTitle .col .down-btn.active {
  border-top: 0.10667rem solid #ea1f38;
}

.stockDetailsTitle .col:nth-child(1) {
  width: 20%;
}

.stockDetailsTitle .col:nth-child(2), .stockDetailsTitle .col:nth-child(3) {
  width: 17%;
}

.stockDetailsTitle .col:nth-child(4), .stockDetailsTitle .col:nth-child(5) {
  width: 23%;
}

.stockDetailsTitle .col:nth-child(4) .down-btn, .stockDetailsTitle .col:nth-child(4) .up-btn, .stockDetailsTitle .col:nth-child(5) .down-btn, .stockDetailsTitle .col:nth-child(5) .up-btn {
  right: 0.13333rem;
}

.stockDetailsTitle .col.active {
  color: #ea1f38;
}

.stockDetails .stockList {
  margin-top: 0.10667rem;
}

.stockDetails .stockList li {
  display: -webkit-flex;
  font-size: 0.37333rem;
  font-family: pinfangMedium;
}

.stockDetails .stockList li .col {
  padding: 0.4rem 0;
  float: left;
  text-align: center;
}

.stockDetails .stockList li .col .smNum {
  font-size: 0.29333rem;
  color: #999;
}

.stockDetails .stockList li .col:nth-child(1) {
  width: 20%;
  position: relative;
}

.stockDetails .stockList li .col:nth-child(1) i {
  width: 0.53333rem;
  height: 0.53333rem;
  line-height: 0.53333rem;
  color: #fff;
  font-size: 0.29333rem;
  background-color: #ea1f38;
  border-radius: 50%;
  position: absolute;
  right: -0.21333rem;
  top: 0.13333rem;
  display: none;
}

.stockDetails .stockList li .col:nth-child(2), .stockDetails .stockList li .col:nth-child(3) {
  width: 17%;
}

.stockDetails .stockList li .col:nth-child(4), .stockDetails .stockList li .col:nth-child(5) {
  width: 23%;
}

.stockDetails .stockList li .col.bgGrey {
  background-color: #eee;
}

.slowHeader .popupsList {
  width: 2.42667rem;
  background-color: #fff;
  border-radius: 0.10667rem;
  position: absolute;
  right: 0.4rem;
  top: 1.14667rem;
  z-index: 999;
  color: #000;
  font-size: 0.37333rem;
  display: none;
}

.slowHeader .popupsList .sharp {
  width: 0;
  height: 0;
  border-left: 0.10667rem solid transparent;
  border-right: 0.10667rem solid transparent;
  border-bottom: 0.21333rem solid #fff;
  position: absolute;
  right: 0.16rem;
  top: -0.18667rem;
}

.slowHeader .popupsList ul {
  padding: 0.26667rem 0;
}

.slowHeader .popupsList li {
  line-height: 0.8rem;
}

.clickThemeNum {
  font-family: pinfangMedium;
  padding: 0;
}

.clickThemeNum .theme {
  border: none;
}

.clickThemeNum .theme .titleCol span {
  width: 25%;
  font-size: 0.37333rem;
  color: #333;
}

.clickThemeNum .stockDetails {
  padding: 0 0.4rem;
}

.clickThemeNum .stockDetails .col:nth-child(1) {
  color: #ccc;
}

.clickThemeNum .stockDetails .col:nth-child(2) {
  color: #333;
}

.clickThemeNum .stockDetails .stockList li {
  display: -webkit-flex;
  font-size: 0.42667rem;
  font-family: pinfangMedium;
}

.clickThemeNum .stockDetails .stockList li .col {
  width: 100%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  -webkit-box-flex: 1;
  padding: 0.4rem 0;
  float: left;
  text-align: center;
}

.clickThemeNum .stockDetails .stockList li .col .smNum {
  font-size: 0.29333rem;
  color: #999;
}

.departmentCont .bar {
  width: 100%;
  height: 2.21333rem;
  display: none;
}

.departmentCont .titleCol {
  position: fixed;
  top: 2.50667rem;
  z-index: 9999;
}

.departmentCont .dateColumn {
  width: 100%;
  background-color: #fff;
  margin-top: 0.42667rem;
  color: #999;
}

.departmentCont .dateColumn.stable {
  width: 92%;
  position: fixed;
}

.departmentCont .theme {
  border: none;
}

.departmentCont .stockDetails .stockList li {
  display: -webkit-flex;
  font-size: 0.37333rem;
  font-family: pinfangMedium;
}

.departmentCont .stockDetails .stockList li .col {
  width: 100%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  -webkit-box-flex: 1;
  padding: 0.4rem 0;
  float: left;
  text-align: center;
}

.departmentCont .stockDetails .stockList li .col .smNum {
  font-size: 0.29333rem;
  color: #999;
}

.departmentCont .departmentList {
  font-family: pinfangMedium;
  padding: 0 0.4rem;
}

.departmentCont .departmentList .dayHot {
  margin-top: 0.8rem;
}

.departmentCont .departmentList .dayHot .noDataAll {
  -display: block;
  margin-left: -1.06667rem;
}

.departmentCont .departmentList .dayHot li {
  box-shadow: 0 0.05333rem 0.13333rem rgba(81, 71, 72, 0.28);
  border-radius: 0.13333rem;
  padding: 0.26667rem 0.4rem;
  margin-bottom: 0.4rem;
}

.departmentCont .departmentList .dayHot li h4 {
  font-size: 0.42667rem;
  padding-top: 0.26667rem;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.departmentCont .departmentList .cont {
  font-size: 0.37333rem;
  color: #999;
  line-height: 0.4rem;
  padding: 0.4rem 0;
}

.departmentCont .departmentList .cont .weight {
  color: #000;
}

.departmentCont .selectDepartment {
  margin: 0 0.4rem;
  border-radius: 0.13333rem;
  box-shadow: 0 0.05333rem 0.13333rem rgba(81, 71, 72, 0.28);
  margin-top: 1.33333rem;
}

.departmentCont .selectDepartment div.all {
  display: none;
}

.departmentCont .selectDepartment div.all.active {
  display: block;
}

.departmentCont .listData {
  margin-bottom: 0.26667rem;
  padding: 0.13333rem 1.06667rem;
}

.departmentCont .listData h4 {
  font-size: 0.42667rem;
  text-align: center;
  line-height: 1.33333rem;
  color: #666;
}

.departmentCont .listData .data1, .departmentCont .listData .data2 {
  font-size: 0.32rem;
  text-align: center;
  margin-bottom: 0.4rem;
}

.departmentCont .listData .data1 span, .departmentCont .listData .data2 span {
  width: 50%;
  color: #999;
}

.departmentCont .listData .data1 b, .departmentCont .listData .data2 b {
  font-size: 0.48rem;
  color: #ea1f38;
}

.departmentCont .subjectPreference {
  padding: 0 0.4rem;
}

.departmentCont .subjectPreference h4 {
  text-align: center;
  color: #666;
}

.departmentCont .listStock .titleColumn {
  line-height: 1.06667rem;
  background-color: #eee;
  line-height: 1.06667rem;
  font-size: 0.32rem;
  display: -webkit-flex;
}

.departmentCont .listStock .titleColumn span {
  width: 100%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  -webkit-box-flex: 1;
  text-align: center;
}

.departmentCont .listStock .titleColumn span:nth-child(2) {
  width: 100%;
  text-align: center;
  -webkit-box-align: stretch;
  position: relative;
}

.departmentCont .listStock .titleColumn span:nth-child(2) b {
  position: absolute;
  right: -0.37333rem;
  top: 0.13333rem;
  background-color: #ea1f38;
  text-align: center;
  line-height: 0.46667rem;
  color: #fff;
  padding: 0 0.13333rem;
  border-radius: 0.2rem;
}

.departmentDetails .seatDiv {
  width: 100%;
  height: 0.66667rem;
  position: fixed;
  background-color: #fff;
  top: 2.2rem;
  z-index: 30;
  display: none;
}

.departmentDetails .noData {
  width: 1.73333rem;
  height: 1.86667rem;
  margin: 0 auto;
  margin-top: 1.33333rem;
  background-image: url("../image/noData.png");
  background-size: 100%;
  display: none;
}

.yybHead {
  width: 100%;
  position: fixed;
  left: 0;
  z-index: 40;
}

.nearbyHot {
  width: 100%;
}

.nearbyHot li {
  padding: 0.26667rem 0.4rem;
  border-radius: 0.13333rem;
  margin-bottom: 0.4rem;
  box-shadow: 0 0.05333rem 0.13333rem rgba(81, 71, 72, 0.28);
}

.nearbyHot h4 {
  font-size: 0.42667rem;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.nearbyHot .attentionThemeList > div.sm {
  display: none;
}

.nearbyHot .attentionThemeList > div.sm.active {
  display: block;
}

.nearbyHot .attentionThemeCont {
  margin-top: 0.53333rem;
}

.nearbyHot .attentionThemeCont .col {
  margin-bottom: 0.4rem;
  line-height: 0.8rem;
}

.nearbyHot .attentionThemeCont .col span {
  float: left;
}

.nearbyHot .attentionThemeCont .col span:nth-child(1) {
  font-size: 0.32rem;
  color: #999;
}

.nearbyHot .attentionThemeCont .col span:nth-child(2) {
  height: 0.8rem;
  border-radius: 0.10667rem;
  color: #fff;
  font-size: 0.37333rem;
  margin-left: 0.26667rem;
  text-align: right;
  padding-right: 0.4rem;
}

.nearbyHot .attentionThemeCont .col span:nth-child(3) {
  float: right;
  font-size: 0.37333rem;
  color: #000;
}

.nearbyHot .attentionThemeCont .col:nth-child(1) span:nth-child(2) {
  background-color: #ea1f38;
}

.nearbyHot .attentionThemeCont .col:nth-child(2) span:nth-child(2) {
  background-color: #08f;
}

.nearbyHot .attentionThemeCont .col:nth-child(3) span:nth-child(2) {
  background-color: #00d800;
}

.yybStable {
  width: 100%;
  position: fixed;
  top: 2.8rem;
  left: 0;
  z-index: 40;
}

.dateColumn {
  display: -webkit-flex;
}

.dateColumn .col {
  width: 100%;
  padding: 0.4rem 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  -webkit-box-flex: 1;
  text-align: center;
  font-size: 0.37333rem;
}

.dateColumn .col span.active {
  width: 1.30667rem;
  height: 0.8rem;
  background-color: #ea1f38;
  line-height: 0.8rem;
  text-align: center;
  color: #fff;
  border-radius: 0.06667rem;
  position: relative;
}

.dateColumn .col span.active i {
  width: 0;
  height: 0;
  border-left: 0.18667rem solid transparent;
  border-right: 0.18667rem solid transparent;
  border-top: 0.13333rem solid #ea1f38;
  position: absolute;
  left: 50%;
  margin-left: -0.16rem;
  bottom: -0.08rem;
}

.bind-mark {
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  display: none;
}

.billboard {
  font-family: pinfangMedium;
}

.billboard .posFixed {
  width: 100%;
  background-color: #fff;
  position: fixed;
  top: 1.70667rem;
  z-index: 89;
}

.billboard .toFixed {
  width: 100%;
  position: fixed;
  top: 1.70667rem;
  background-color: #fff;
  z-index: 89;
}

.billboard .bar {
  width: 100%;
  height: 3.2rem;
  -display: none;
}

.billboard .popupsList {
  width: 3.4rem;
  background-color: #fff;
  border-radius: 0.16rem;
  box-shadow: -0.05333rem 0.05333rem 0.13333rem rgba(81, 71, 72, 0.28);
  position: fixed !important;
  right: 0.53333rem;
  top: 3.28rem;
  z-index: 999;
  color: #000;
  font-size: 0.37333rem;
  display: none;
}

.billboard .popupsList ul {
  max-height: 7.2rem;
  border-radius: 0.16rem;
  overflow-y: scroll;
}

.billboard .popupsList ul::-webkit-scrollbar {
  display: none;
}

.billboard .popupsList li {
  line-height: 1.2rem;
  border-bottom: 0.02667rem solid #aaa;
  text-align: center;
  font-size: 0.42667rem;
  font-family: Arial;
}

.billboard .popupsList li:last-child {
  border-bottom: none;
}

.billboard .popupsList li.active {
  background-color: #ea1f38;
  color: #fff;
  font-family: Arial;
  box-shadow: 0 0.05333rem 0.13333rem rgba(81, 71, 72, 0.28);
  border-bottom: none;
  margin-top: -0.02667rem;
}

.billboard .stockDetailsTitle .col i.icon {
  width: 0.21333rem;
  height: 0.24rem;
  background-image: url("../image/upordown1.png");
  background-size: cover;
  position: absolute;
  right: 0.06667rem;
  bottom: 0.46667rem;
}

.billboard .stockDetailsTitle .col:nth-child(4) i {
  right: 0.26667rem;
}

.billboard .stockDetailsTitle .col:nth-child(4) i.down-btn {
  right: 0.24rem;
}

.billboard .touristAttention ul {
  overflow-y: scroll;
}

.stockFixed {
  width: 95%;
  height: 4.26667rem;
  background-color: #fff;
}

.stockFixed .themeHead {
  width: 100%;
  height: 2.4rem;
  position: fixed;
  top: 0;
}

.stockFixed .dataShow {
  width: 92%;
  background-color: #fff;
  border-radius: 0.09333rem;
  box-shadow: 0 0.05333rem 0.13333rem rgba(81, 71, 72, 0.28);
  padding: 0.53333rem 0;
  margin: 0 0.4rem;
  font-size: 0.32rem;
  position: fixed;
  top: 1.70667rem;
  z-index: 999999999;
}

.stockFixed .dataShow .leftNumber {
  width: 30%;
}

.stockFixed .dataShow .leftNumber span {
  display: block;
  text-align: center;
}

.stockFixed .dataShow .leftNumber span:nth-child(1) {
  font-size: 0.73333rem;
}

.stockFixed .dataShow .leftNumber span:nth-child(2) {
  font-size: 0.32rem;
}

.stockFixed .dataShow .leftNumber span:nth-child(2) b {
  width: 50%;
  display: inline-block;
  float: left;
  text-align: center;
}

.stockFixed .dataShow .leftNumber span:nth-child(3) {
  padding-top: 0.13333rem;
}

.stockFixed .dataShow .rightNumber {
  width: 70%;
  margin-top: 0.13333rem;
}

.stockFixed .dataShow .rightNumber .topNum, .stockFixed .dataShow .rightNumber .botNum {
  display: -webkit-flex;
}

.stockFixed .dataShow .rightNumber .topNum span, .stockFixed .dataShow .rightNumber .botNum span {
  color: #999;
  width: 150%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  -webkit-box-flex: 1;
}

.stockFixed .dataShow .rightNumber .topNum span b, .stockFixed .dataShow .rightNumber .botNum span b {
  font-size: 0.37333rem;
}

.stockFixed .dataShow .rightNumber .topNum span:nth-child(3), .stockFixed .dataShow .rightNumber .botNum span:nth-child(3) {
  text-align: left;
  width: 200%;
}

.stockFixed .dataShow .rightNumber .topNum {
  margin-bottom: 0.53333rem;
}

.mainStockDetails {
  padding-bottom: 0.66667rem;
}

.mainStockDetails .chartSelectContainr .btnColumn {
  font-size: 0.42667rem;
  display: -webkit-flex;
  padding-bottom: 0.13333rem;
}

.mainStockDetails .chartSelectContainr .btnColumn .col {
  width: 100%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  -webkit-box-flex: 1;
  text-align: center;
}

.mainStockDetails .chartSelectContainr .btnColumn .col span {
  width: 2.13333rem;
  height: 0.93333rem;
  line-height: 0.93333rem;
  text-align: center;
}

.mainStockDetails .chartSelectContainr .btnColumn .col.active span {
  background-color: #ea1f38;
  color: #fff;
  border-radius: 0.4rem;
}

.mainStockDetails .chartSelectContainr div.allChart {
  display: none;
}

.mainStockDetails .chartSelectContainr .allChart.active {
  display: block;
}

.mainStockDetails .firstChart {
  margin-top: 0.53333rem;
}

.mainStockDetails .firstChart .chartsContainer {
  width: 100%;
  height: 4.4rem;
}

.mainStockDetails .firstChart .chartsContainer .noData {
  width: 1.73333rem;
  height: 1.86667rem;
  margin: 0 auto;
  margin-top: 1.33333rem;
  background-image: url("../image/noData.png");
  background-size: 100%;
  display: none;
}

.mainStockDetails .secondChart {
  padding: 0 0.4rem;
  margin-top: 0.66667rem;
}

.mainStockDetails .secondChart .titleShow {
  font-size: 0.37333rem;
  color: #333;
}

.mainStockDetails .secondChart .chartsContainer {
  width: 100%;
  height: 5.73333rem;
}

.mainStockDetails .secondChart .chartsContainer .noData {
  width: 1.73333rem;
  height: 1.86667rem;
  margin: 0 auto;
  margin-top: 1.33333rem;
  background-image: url("../image/noData.png");
  background-size: 100%;
  display: none;
}

.mainStockDetails .newestBillboard {
  padding: 0 0.4rem;
}

.mainStockDetails .newestBillboard .title-column {
  padding: 0.53333rem 0;
  position: relative;
}

.mainStockDetails .newestBillboard .title-column .popupsList {
  right: 0;
  top: 1.6rem;
}

.mainStockDetails .newestBillboard .btnColumn {
  line-height: 0.8rem;
}

.mainStockDetails .newestBillboard .btnColumn span {
  font-size: 0.42667rem;
  padding-right: 0.6rem;
}

.mainStockDetails .newestBillboard .btnColumn span:nth-child(1).active {
  color: #ea1f38;
}

.mainStockDetails .newestBillboard .btnColumn span:nth-child(2).active {
  color: #39c922;
}

.mainStockDetails .newestBillboard .departmentBox {
  height: 4.66667rem;
  padding: 0.53333rem;
  font-size: 0.37333rem;
  box-shadow: 0 0.05333rem 0.13333rem rgba(81, 71, 72, 0.28);
  border-radius: 0.13333rem;
}

.mainStockDetails .newestBillboard .departmentBox .showItem {
  color: #999;
}

.mainStockDetails .newestBillboard .departmentBox li {
  line-height: 0.8rem;
}

.mainStockDetails .newestBillboard .departmentBox li span:nth-child(1) {
  width: 80%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  float: left;
}

.mainStockDetails .newestBillboard .departmentBox li span:nth-child(2) {
  width: 20%;
  text-align: center;
  float: right;
}

.mainStockDetails .newestBillboard .departmentBox .noData {
  width: 1.73333rem;
  height: 1.86667rem;
  margin: 0 auto;
  margin-top: 0.8rem;
  background-image: url("../image/noData.png");
  background-size: 100%;
  display: none;
}

.title-column {
  padding: 0.53333rem 0.4rem;
  font-size: 0.42667rem;
}

.title-column .column-left {
  color: #000;
  margin-top: 0.2rem;
}

.title-column .column-right {
  color: #999;
}

.title-column .column-right .show-date {
  position: relative;
  padding-left: 0.13333rem;
}

.title-column .column-right .show-date i.month {
  font-size: 0.8rem;
  color: #666;
  letter-spacing: 0;
  font-family: Arial;
}

.title-column .column-right .show-date i.time {
  font-size: 0.34667rem;
  letter-spacing: 0;
  font-weight: bold;
  color: #666;
  font-family: Arial;
}

.title-column .column-right .show-date .icon-list {
  width: 0;
  height: 0;
  border-bottom: 0.13333rem solid #000;
  border-right: 0.13333rem solid transparent;
  position: absolute;
  left: 0;
  bottom: 0.26667rem;
}

.title-column .column-right .popupsList {
  width: 3.4rem;
  max-height: 7.25333rem;
  background-color: #fff;
  border-radius: 0.16rem;
  box-shadow: -0.05333rem 0.05333rem 0.13333rem rgba(81, 71, 72, 0.28);
  position: absolute;
  right: 0.53333rem;
  top: 3.28rem;
  z-index: 999;
  color: #000;
  font-size: 0.37333rem;
  display: none;
}

.title-column .column-right .popupsList ul {
  max-height: 7.2rem;
  border-radius: 0.16rem;
  overflow-y: scroll;
}

.title-column .column-right .popupsList ul::-webkit-scrollbar {
  display: none;
}

.title-column .column-right .popupsList li {
  line-height: 1.2rem;
  border-bottom: 0.02667rem solid #aaa;
  text-align: center;
  font-size: 0.42667rem;
  font-family: Arial;
}

.title-column .column-right .popupsList li:last-child {
  border-bottom: none;
}

.title-column .column-right .popupsList li.active {
  background-color: #ea1f38;
  color: #fff;
  font-family: Arial;
  box-shadow: 0 0.05333rem 0.13333rem rgba(81, 71, 72, 0.28);
  border-bottom: none;
  margin-top: -0.02667rem;
}

.searchBox {
  width: 6.86667rem;
  height: 0.8rem;
  line-height: 0.8rem;
  border-radius: 0.4rem;
  background-color: #fff;
  position: relative;
  font-size: 0.37333rem;
  overflow: hidden;
  margin-top: 0.17333rem;
}

.searchBox input {
  font-family: pinfangMedium;
  height: 0.53333rem;
  line-height: 0.53333rem;
  width: 70%;
  position: absolute;
  left: 1.2rem;
  top: 0.13333rem;
}

.searchBox b {
  width: 0.50667rem;
  height: 0.50667rem;
  position: absolute;
  top: 0.13333rem;
  left: 0.4rem;
  background-image: url(../image/icon_search2.png);
  background-size: cover;
  background-position: center;
}

.searchBox i {
  width: 0.6rem;
  height: 0.6rem;
  background-image: url("../image/cancle.png");
  background-size: 100%;
  position: absolute;
  right: 0.26667rem;
  top: 0.13333rem;
}

.longBox {
  width: 8rem;
  margin-left: 1.06667rem;
}

.longBox input:focus::-webkit-input-placeholder {
  color: #dedede;
}

.more-header {
  position: inherit;
}
